@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text font-sans;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-surface;
}

::-webkit-scrollbar-thumb {
  @apply bg-surfaceHighlight rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-border;
}

.text-glow {
  text-shadow: 0 0 10px rgba(0, 255, 65, 0.5);
}

.border-glow {
  box-shadow: 0 0 10px rgba(0, 255, 65, 0.2);
}
